* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    background-color: #0b132b;
}

body {
    font-size: 16px;
    letter-spacing: 0.6px;
}

@media (min-width: 700px) {
    body {
        font-size: 20px;
        letter-spacing: 1.6px;
    }
}

#root {
    position: relative;
    min-height: 100vh;
    background-color: #0b132b;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Loader */

@keyframes bouncing-loader {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0.1;
        transform: translateY(-1rem);
    }
}
.bouncing-loader {
    display: flex;
    justify-content: center;
}
.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}

/* /Loader */

.color-namer {
    padding: 40px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: #6fffe9;
}

@media (min-width: 700px) {
    .color-namer {
        padding: 80px 40px;
    }
}

.github-badge-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #6fffe9;
    text-align: center;
    color: #0b132b;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-decoration: none;
}

@media (min-width: 700px) {
    .github-badge-link {
        position: absolute;
        right: -45px;
        top: -16px;
        transform: rotate(30deg);
        transform-origin: top left;
        width: 150px;
        height: 15px;
        font-size: 12px;
        letter-spacing: 0.3px;
        line-height: 15px;
    }
}

.color-namer__title {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 400;
    color: #6fffe9;
    margin: 0;
}

@media (min-width: 700px) {
    .color-namer__title {
        font-size: 50px;
        letter-spacing: 3.4px;
    }
}

.color-namer__center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    height: 270px;
    width: 100%;
}

@media (min-width: 700px) {
    .color-namer__center-container {
        height: 300px;
    }
}

.color-namer__name {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff5b2;
}

@media (min-width: 700px) {
    .color-namer__name {
        font-size: 32px;
        letter-spacing: 3px;
        margin-bottom: 30px;
    }
}

.color-namer__preview-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
}

@media (min-width: 700px) {
    .color-namer__preview-container {
        flex-direction: row;
        margin-bottom: 30px;
    }
}

.color-namer__preview {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 3px;
    border: 2px solid #6fffe9;
    margin-bottom: 10px;
}

@media (min-width: 700px) {
    .color-namer__preview {
        margin-bottom: 0;
    }
}

.color-namer__preview-info {
    white-space: nowrap;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.4px;
}

@media (min-width: 700px) {
    .color-namer__preview-info {
        position: absolute;
        left: 0;
        margin-left: calc(100% + 20px);
    }
    .color-namer__preview-info::before {
        content: '< ';
    }
}

.color-namer__value-container {
    display: flex;
    margin-bottom: 20px;
}

.color-namer__value {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.color-namer__color-input {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    opacity: 0;
    font-size: 16px;
}

.color-namer__color-input:hover {
    cursor: pointer;
}

.color-namer__value-label{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0.8px;
}

@media (min-width: 700px) {
    .color-namer__value-label {
        font-size: 26px;
        letter-spacing: 1.2px;
    }
}

.color-namer__value-text {
    color: #fff5b2;
    font-weight: 300;
    letter-spacing: 0.8px;
    white-space: nowrap;
}

.color-input{
    padding: 10px;
    letter-spacing: 1.6px;
    border: none;
    background: none;
    border-bottom: 3px solid #6fffe9;
    color: #6fffe9;
    font-weight: 300;
    font-size: 16px;
    margin-top: auto;
    width: 150px;
    border-radius: 0;
}

.list-select {
    display: block;
    width: 100%;
    padding: 3px 0px;
    border: none;
    background: none;
    border-bottom: 1px solid #6fffe9;
    color: #fff5b2;
    font-size: 16px;
    font-weight: 300;
}

.color-namer__list-label {
    margin-top: 30px;
    display: block;
}

@media (min-width: 700px) {
    .color-input {
        font-size: 20px;
        letter-spacing: 1.6px;
    }
    .list-select {
        font-size: 16px;
        letter-spacing: 1.6px;
    }
}

.color-input:focus {
    outline: none;
}

.color-input::placeholder {
    color: #3c7d90;
    font-weight: 300;
}

.color-namer__bottom-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .color-namer__bottom-container {
        flex-direction: row;
    }
}

.color-namer__list-label-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.bottom-container-section__title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.8px;
}

@media (min-width: 700px) {
    .bottom-container-section__title {
        font-size: 26px;
        letter-spacing: 1.2px;
    }

    .color-namer__list-label-text {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.8px;
    }
}

.bottom-container-section__list {
    margin: 0;
    padding: 0 15px;
    line-height: 26px;
    font-weight: 300;
}

@media (min-width: 700px) {
    .bottom-container-section__list {
        line-height: 32px;
    }
}

.bottom-container-section--features {
    margin-right: 40px;
}

.bottom-container-section__highlight {
    color: #fff5b2;
}

.bottom-container-section__link {
    color: #6fffe9;
}

.color-namer__lists {
    width: 360px;
    max-width: 100%;
    margin-bottom: 20px;
}

.color-namer__lists-description {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin: 1rem 0 0 0;
}
