#picker-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
}
#slider-wrapper {
    width: 30px;
    height: 200px;
    position: relative;
}
#picker-indicator {
    width: 3px;
    height: 3px;
    position: absolute;
    border: 2px solid white;
}
#slider-indicator {
    box-sizing: border-box;
    width: calc(100% + 6px);
    height: 15px;
    position: absolute;
    transform: translateY(50%);
    border: 3px solid black;
    left: -3px;
}

#picker {
    display: flex;
    border-radius: 3px;
}

.App {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.App-title {
    font-size: 40px;
    letter-spacing: 2.5px;
}

.color-value-container {
    display: flex;
}

.color-value__label {
    font-weight: 600;
    margin-bottom: 10px;
}

.color-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.color-name {
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 30px 0;
}

.color-input {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 0.8px;
    border: none;
}

.color-picker {
    display: flex;
}

#picker-wrapper {
    margin-right: 20px;
}

#slider {
    border: 3px solid black;
    border-radius: 3px;
    display: flex;
}